@model InsideAirbnbApp.Models.Calendar

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Calendar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Available)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Available)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdjustedPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdjustedPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumNights)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumNights)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumNights)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumNights)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Listing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Listing.Name)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
