@model IEnumerable<InsideAirbnbApp.Models.Calendar>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdjustedPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinimumNights)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximumNights)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Listing)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdjustedPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimumNights)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumNights)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Listing.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
